.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/write.lock
.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/segments_2
.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/segments.gen
.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/_1.tis
.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/_1.tii
.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/_1.prx
.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/_1.nrm
.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/_1.frq
.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/_1.fnm
.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/_1.fdx
.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/_1.fdt
.metadata/version.ini
.metadata/.plugins/org.eclipse.ui.intro/introstate
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/4.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/3.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/2.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/1.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/0.png
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.jdt.core/3650003303.index
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/http-cache/write.lock
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.debug.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
.metadata/.plugins/org.eclipse.core.resources/2.snap
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/UptakeTest/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/UptakeTest/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.history/f2/405c4484326600171c9cc20af0d7173a
.metadata/.plugins/org.eclipse.core.resources/.history/ea/c0452856316600171c9cc20af0d7173a
.metadata/.plugins/org.eclipse.core.resources/.history/c9/e04ad768316600171c9cc20af0d7173a
.metadata/.plugins/org.eclipse.core.resources/.history/c4/f0e61551316600171c9cc20af0d7173a
.metadata/.plugins/org.eclipse.core.resources/.history/af/d08ced51326600171c9cc20af0d7173a
.metadata/.plugins/org.eclipse.core.resources/.history/a6/40b57991326600171c9cc20af0d7173a
.metadata/.plugins/org.eclipse.core.resources/.history/67/006ecd98316600171c9cc20af0d7173a
.metadata/.plugins/org.eclipse.core.resources/.history/24/204bc16a326600171c9cc20af0d7173a
.metadata/.mylyn/tasks.xml.zip
.metadata/.mylyn/.tasks.xml.zip
.metadata/.log
