.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/write.lock
.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/segments_2
.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/segments.gen
.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/_1.tis
.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/_1.tii
.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/_1.prx
.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/_1.nrm
.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/_1.frq
.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/_1.fnm
.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/_1.fdx
.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/_1.fdt
.metadata/version.ini
.metadata/.plugins/org.eclipse.ui.intro/introstate
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/4.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/3.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/2.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/1.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/0.png
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.jdt.core/3650003303.index
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/http-cache/write.lock
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.debug.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
.metadata/.plugins/org.eclipse.core.resources/2.snap
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/UptakeTest/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/UptakeTest/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.history/f2/405c4484326600171c9cc20af0d7173a
.metadata/.plugins/org.eclipse.core.resources/.history/ea/c0452856316600171c9cc20af0d7173a
.metadata/.plugins/org.eclipse.core.resources/.history/c9/e04ad768316600171c9cc20af0d7173a
.metadata/.plugins/org.eclipse.core.resources/.history/c4/f0e61551316600171c9cc20af0d7173a
.metadata/.plugins/org.eclipse.core.resources/.history/af/d08ced51326600171c9cc20af0d7173a
.metadata/.plugins/org.eclipse.core.resources/.history/a6/40b57991326600171c9cc20af0d7173a
.metadata/.plugins/org.eclipse.core.resources/.history/67/006ecd98316600171c9cc20af0d7173a
.metadata/.plugins/org.eclipse.core.resources/.history/24/204bc16a326600171c9cc20af0d7173a
.metadata/.mylyn/tasks.xml.zip
.metadata/.mylyn/.tasks.xml.zip
.metadata/.log
.metadata/.plugins/org.eclipse.core.resources/.history/51/20b085d3456600171c9cc20af0d7173a
.metadata/.plugins/org.eclipse.core.resources/.history/5/40e8dba0516600171409e10a05f8faf3
.metadata/.plugins/org.eclipse.core.resources/.history/4d/300731d1446600171c9cc20af0d7173a
.metadata/.plugins/org.eclipse.core.resources/.history/4c/30009bab486600171c9cc20af0d7173a
.metadata/.plugins/org.eclipse.core.resources/.history/49/701f27e2496600171c9cc20af0d7173a
.metadata/.plugins/org.eclipse.core.resources/.history/46/a0c73578406600171c9cc20af0d7173a
.metadata/.plugins/org.eclipse.core.resources/.history/3f/b0182fbf496600171c9cc20af0d7173a
.metadata/.plugins/org.eclipse.core.resources/.history/39/b07d3378406600171c9cc20af0d7173a
.metadata/.plugins/org.eclipse.core.resources/.history/39/70b3335f9a6600171dbae1c45ade7ed2
.metadata/.plugins/org.eclipse.core.resources/.history/1e/001a0180426600171c9cc20af0d7173a
.metadata/.plugins/org.eclipse.core.resources/.history/1c/803b82d0426600171c9cc20af0d7173a
.metadata/.plugins/org.eclipse.core.resources/.history/1b/a01b94ad496600171c9cc20af0d7173a
.metadata/.plugins/org.eclipse.core.resources/5.snap
.metadata/.plugins/org.eclipse.core.resources/.root/5.tree
.metadata/.plugins/org.eclipse.core.resources/.projects/UptakeTest/.markers
.metadata/.plugins/org.eclipse.core.resources/.projects/UptakeTest/.indexes/e4/5e/5b/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/UptakeTest/.indexes/e4/5e/21/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/UptakeTest/.indexes/e4/5e/17/history.index
.metadata/.plugins/org.eclipse.core.resources/.history/fa/a04083173f6600171c9cc20af0d7173a
.metadata/.plugins/org.eclipse.core.resources/.history/fa/309990ad496600171c9cc20af0d7173a
.metadata/.plugins/org.eclipse.core.resources/.history/f9/8046e672456600171c9cc20af0d7173a
.metadata/.plugins/org.eclipse.core.resources/.history/ee/d091c0cf456600171c9cc20af0d7173a
.metadata/.plugins/org.eclipse.core.resources/.history/e8/f0372f78406600171c9cc20af0d7173a
.metadata/.plugins/org.eclipse.core.resources/.history/e6/60258ac9456600171c9cc20af0d7173a
.metadata/.plugins/org.eclipse.core.resources/.history/e/20ddc75f9a6600171dbae1c45ade7ed2
.metadata/.plugins/org.eclipse.core.resources/.history/d2/10710076406600171c9cc20af0d7173a
.metadata/.plugins/org.eclipse.core.resources/.history/d1/90de29e2496600171c9cc20af0d7173a
.metadata/.plugins/org.eclipse.core.resources/.history/c8/3097846f406600171c9cc20af0d7173a
.metadata/.plugins/org.eclipse.core.resources/.history/c7/f04c35d1446600171c9cc20af0d7173a
.metadata/.plugins/org.eclipse.core.resources/.history/bc/d0278f6b456600171c9cc20af0d7173a
.metadata/.plugins/org.eclipse.core.resources/.history/b9/d0612f094b6600171c9cc20af0d7173a
.metadata/.plugins/org.eclipse.core.resources/.history/b5/3072989c516600171409e10a05f8faf3
.metadata/.plugins/org.eclipse.core.resources/.history/b2/e06c0276406600171c9cc20af0d7173a
.metadata/.plugins/org.eclipse.core.resources/.history/ac/50399dd3516600171409e10a05f8faf3
.metadata/.plugins/org.eclipse.core.resources/.history/a8/2020c9493f6600171c9cc20af0d7173a
.metadata/.plugins/org.eclipse.core.resources/.history/a6/c0470adc446600171c9cc20af0d7173a
.metadata/.plugins/org.eclipse.core.resources/.history/a/c07601c2426600171c9cc20af0d7173a
.metadata/.plugins/org.eclipse.core.resources/.history/9c/c068fbdd996600171dbae1c45ade7ed2
.metadata/.plugins/org.eclipse.core.resources/.history/9b/e0fe31bf496600171c9cc20af0d7173a
.metadata/.plugins/org.eclipse.core.resources/.history/8f/10b4a987426600171c9cc20af0d7173a
.metadata/.plugins/org.eclipse.core.resources/.history/8c/30958041426600171c9cc20af0d7173a
.metadata/.plugins/org.eclipse.core.resources/.history/81/f003fc384b6600171c9cc20af0d7173a
.metadata/.plugins/org.eclipse.core.resources/.history/7f/80b07f7e4a6600171c9cc20af0d7173a
.metadata/.plugins/org.eclipse.core.resources/.history/78/d0f37297416600171c9cc20af0d7173a
.metadata/.plugins/org.eclipse.core.resources/.history/78/60d282fe516600171409e10a05f8faf3
.metadata/.plugins/org.eclipse.core.resources/.history/72/d031e7e6446600171c9cc20af0d7173a
.metadata/.plugins/org.eclipse.core.resources/.history/63/309f483f456600171c9cc20af0d7173a
.metadata/.plugins/org.eclipse.core.resources/.history/5c/408f75da4a6600171c9cc20af0d7173a
.metadata/.plugins/org.eclipse.core.resources/.history/57/e0062422516600171409e10a05f8faf3
.metadata/.plugins/org.eclipse.core.resources/.history/56/a0ec3d5f9a6600171dbae1c45ade7ed2
.metadata/.plugins/org.eclipse.core.resources/.history/19/1039b9ca516600171409e10a05f8faf3
.metadata/.plugins/org.eclipse.core.resources/.history/15/7044cc98506600171409e10a05f8faf3
.metadata/.plugins/org.eclipse.core.resources/.history/12/001ec55f9a6600171dbae1c45ade7ed2
.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/segments_4
.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/_3.tis
.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/_3.tii
.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/_3.prx
.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/_3.nrm
.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/_3.frq
.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/_3.fnm
.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/_3.fdx
.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/_3.fdt
.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
.metadata/.plugins/org.eclipse.ltk.ui.refactoring/dialog_settings.xml
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/UptakeTest/2017/7/28/refactorings.index
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/UptakeTest/2017/7/28/refactorings.history
.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
.metadata/.plugins/org.eclipse.jdt.debug.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.core.prefs
